.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 95%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    .titulo {
      margin-top: 20px;
      color: #938eef
    }

    hr {
      width: 100%;
      margin-top: 10px;
      background-color: #c49090;
    }

    .right {
      padding: 20px;
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size:x-large;
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
       

        div {
          width: 100%;
          max-width: 100%;
        }

        input {
          border-radius: 10px;
          width: 100%; // Ajuste a largura conforme desejado, por exemplo, width: 80%;
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 100%;
          border-radius: 10px;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;

          --button-bg-color: #938eef;

          &.disabled {
            background-color: var(--button-bg-color);
            opacity: 0.8;
            cursor: not-allowed;
          }
        }
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    
    button {
      margin-top: 10px;
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      border: none;
      background-color: #938eef;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    .card {
      .right {
        padding: 10px;
        gap: 10px;
      }
    }
  }
}
